@import 'tailwindcss';

@theme {
  /* 1. Define your custom color */
  /* This creates the 'bg-brand-blue-1' utility */
  --color-brand-gray-1: #dadce0;
  --color-brand-blue-1: #1967d2;
  --color-brand-blue-2: #4285f4;
  --color-brand-green-1: #137333;

  /* 2. Define your custom shadow */
  /* This creates the 'shadow-blue' utility */
  --shadow-blue: 0 4px 14px 0 rgba(0, 118, 255, 0.39);

  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
